---
layout: std-002
---

<section class="thug_section" style="background-image:url('/assets/thug.jpg');">
    <div class="sm_head">#throwback</div>
    <div class="">
        <video width="300" preload autoplay loop >
    
            <source src="/assets/blm_wave.mp4"
                type="video/mp4">
    
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>

    <div class="thug_desc">
        <div class="std_copy">
            <p>SVNCRWNS partnered with Noisy Tenants to produce the THUG MYTH Documentary.  This initiative was inspired following the death of Freddie Gray and the Baltimore Uprising.   We interviewed over 20 men asking them self-reflective questions as it relates to their identity and how they feel they’re portrayed in media. Are you a THUG?
            </p>
        </div>
    </div>

    <div class="thug_btn_group">
        {% include cta.html cta-title="View Thug Myth Footage" class="white_btn" url="/" %}
    </div>
    
</section>