---
layout: std-002
---

<section class="section gap">
    <div class="std_head">Bridging the Gap</div>

    <div class="btg_video">
        <video width="300" preload autoplay loop>
    
            <source src="/assets/blm_spin.mp4"
                type="video/mp4">
    
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>

    <div class="group">
        <div class="sm_head">So, how do we bridge the gap?</div>
        <div class="std_copy">
            <p>
                As a company, we have been thinking about ways we can show our activism, support #blacklivesmatter and see immediate and long-term impact in our communities.  We understand the need for protest demonstrations and applying pressure to change laws, but we also know there is much more to do on the grassroots level – and this starts by generating  and sharing our resources.  We are approaching our strategy of bridging the gap at three intersections - businesses, community and resources.
            </p>
        </div>
    </div>

    <div class="group">
        <div class="sm_head">The way it works</div>
        <div class="std_copy">
            <p>
                Businesses create relationships with other businesses, assess the needs of our communities and create resources or activate resources that are not being maximized through creative/cultural activities.  We invite all to duplicate this model across our cities.  We believe with collective interest, we can satisfy some immediate needs in our community.
            </p>
        </div>
    </div>
</section>

