---
layout: std-002
---

<section class="section project-001">
    <div class="sm_head">Real World Example</div>
    <div class="std_head">SVNCRWNS x Sankofa</div>

    <div class="project_img">
        <img src="/assets/sankofa.png" />
    </div>

    <div class="all_groups">
        <div class="group">
            <div class="sm_head">Story time</div>
            <div class="std_copy">
                <p>
                    Back in 2016, we had just started our business and heard that the beloved Sankofa African & World Baazar was going out of business. Nevertheless, we visited the store and spoke to the owners about how we felt there was still impact to be made and business to be had for them. Reluctant to remain open, we came to  agree that SVNCRWNS would work with them for three months. We did 3 things:
                </p>
            </div>
        </div>
        <div class="group">
            <div class="project_item">
                <div class="project_number">1</div>
                <div class="std_copy">
                    <p>
                        Merchandise the store into departments for customer ease
                    </p>
                </div>
            </div>
            <div class="project_item">
                <div class="project_number">2</div>
                <div class="std_copy"><p>Created content that targeted a new demographic</p></div>
            </div>
            <div class="project_item">
                <div class="project_number">3</div>
                <div class="std_copy">
                    <p>Activated the community with the first ever Sankofa Black History Pop-Up Exhibit. Over 3 days we saw about 150 children. Each class came for 2 ½ hours. Activities included:</p>

                    <ul class="project_list">
                        <li>Shared Interactive art wall and art sketch stations</li>
                        <li>African Instrument and dress up areas</li>
                        <li>Head in the Clouds Installation</li>
                        <li>Storytime with teachers and more</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="sm_head">Our Seed</div>
            <div class="std_copy">
                <p>The Exhibit was the biggest seed that we planted. Due to the success of the event, Sankofa African & World Baazar decided to not only remain open but has also been working to open the Sankofa Children’s Museum of African Cultures! </p>
            </div>
        </div>
        <div class="group">
            <div class="sm_head">Collaboration Breakdown</div>
            <div class="std_copy">
                <ul class="collab_list">
                    <li>We partnered with The Living Well (Venue)</li>
                    <li>Reached out to educators with 2nd grade classes that were in our network (Baltimore City students) </li>
                    <li>Had the support of peers to build museum walls and install the exhibit (Team)</li>
                    <li>This was done with just the resources we had immediate access to and a small budget.</li>
                    <li>View the video coverage of that week-long celebration of black culture, art, business and community!</li>
                </ul>
            </div>

        </div>
    </div>
    {% include cta.html cta-title="Sankofa Pop-Up Exhibit Video" class="white_btn" url="/" %}
</section>