---
layout: std-002
---

<section class="section screen-001">
    <div class="std_head">Welcome</div>
    <div class="sm_head">the time is now.</div>
    <div class="std_copy">
        <p>
            SVNCRWNS is a company owned and operated by black women.  Our work started in 2015 with a simple and impactful idea of bridging the gap between culture and commerce.  Our approach has been going into our communities, creating relationships with business owners and artists, finding ways for brands to make a bigger presence in their neighborhoods and curating the community activation.  Our work has grown since to incorporate more service offerings, but that was the initial inception.</p>
        <p>
            It has been overwhelming to follow the news of George Floyd and Armaud Arbery all while having stay-at-home orders due to the pandemic.  In a time where we should be taking a pause – reflecting, taking much needed breaks and spending time with our loved ones, we are again reminded of the lack of value placed on the lives of black people in America.  We lose our lives for things that other race groups don’t have to consider - such as leaving the grocery store or going for a run.  <a href="#">The list is overwhelming</a>.  Emotions are high. People are angry.  Things must change. 
        </p>
        <p>
            We know our list of ideas will not slow down the death of black lives.  However, we choose to spread love and resources across the country and uplift our people!

        </p>
    </div>
    <div class="animated_numbers">1619</div>
</section>
{% include pagination.html %}
