<ul class="accordion">
    
    <li>
        <a class="toggle" href="javascript:void(0);">#GottaEat Initiative</a>
        <ul class="inner">
            <li>With the pandemic happening, we saw schools close and children of families who rely on school lunches were faced with a dilemma.  If schools are closed, how are kids going to eat?  Schools have been closed nationally since March 2020, today is June 2020 and the summer is now upon us.</li>
            <li>This initiative is about providing free lunch to the youth.  We will connect with restaurants and food companies that are black-owned or support #blacklivesmatter.  There are two options we are considering - (1) asking companies to donate food to our initiative, and (2) finding sponsors to provide the money needed for restaurants to support our initiative.</li>
        </ul>
    </li>

    <li>
        <a class="toggle" href="javascript:void(0);">Communication Strategies Event</a>
        <ul class="inner">
            <li>This initiative focuses on providing communication tools and resources.  We get it, emotions run high, we all want change, but it is hard to process when everyone is talking and yelling all at once.  Let’s come together and discuss our issues.  Let’s start with the feelings and build our way to actionable plans for our communities.  This initiative has several segments: (1) sharing communication tools and decompression techniques, (2) hosting a virtual/physical panel with communication strategists and leaders to learn effective ways of communicating and dealing with our America, and (3) mediating discussions around what’s happening now, and how we can all work towards making our lives and communities safer and more enriched with resources.</li>
            <li>The idea is that we learn the skills, as a group decide on the top 7 issues and then have a mediated work session on a plan of action that we can all feel good about attacking. We won’t get there in our communication, if we don’t first learn how to do it.</li>
        </ul>
    </li>

    <li>
        <a class="toggle" href="javascript:void(0);">Plant Delivery Service</a>
        <ul class="inner">
            <li>Give them roses now. This initiative is a for-profit idea and involves setting up a plant delivery service.  With tensions high, we can all stand to take a second and smell the flowers.  In times of grief, plants represent love, care and the unlimited possibilities of growth. Our initial focus is to share plants with those families, individuals and organizations that have been impacted by police brutality.  This is also an opportunity to educate individuals about plant life and their eco-friendly benefits.</li>
            <li>Another component to this initiative is to create garden boxes that can be used to grow plant life indoors or outdoors.  This initiative plans to tackle the issue of food deserts in inner-city communities. We would work with makers to build boxes, farms/gardens/nurseries for plants and sponsors/partnerships for materials (gardening tools, dirt, educational materials) and local artisans to include preservable foods. These boxes would be distributed mainly to families in food deserts.</li>
            <li>There should also be an online resource guide for those who just want the education.</li>
        </ul>
    </li>

    <li>
        <a class="toggle" href="javascript:void(0);">CopStop App</a>
        <ul class="inner">
            <li>This initiative is still in development, but here’s the concept – what if cops could be held accountable or what if we could alert someone when we feel in danger due to aggressive policing?</li>
            <li>This initiative will require some top-level changes in our government policy to create accountability for the U.S. Police force.</li>
            <li>Imagine being able to trigger your COPSTOP app by a panic gesture which then activates your camera and GPS-location, and searches for all cops that are in 0.5 mile radius of where you are.</li>
            <li>Imagine that this panic gesture also gets sent to local politicians, black rights organization groups, and other users of your status.  Imagine seeing twitter or instagram notifications sharing that the COPSTOP app has been alerted and action needs to be taken.</li>
            <li>We are stronger in numbers.  Corporations are standing with #BlackLivesMatter, we are seeing more alliances, and the opportunity to see more change in this lifetime.</li>
            <li>This could be a viable option to create more accountability.  Review this mapping police violence website that is an example of the resource that we can create for our local communities.</li>
        </ul>
    </li>
   
</ul>