<button class="hamburger hamburger--squeeze" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>
  
  <div class="overlay overlay-data">
  
    <div class="overlay_container clear">
        <div class="std_head">Black Lives Matter</div>
        <nav>
            <div class="sm_head">Navigation</div>

            <ul>
                <li>Intro</li>
                <li>Bridging the Gap</li>
                <li>SVNCRWNS x Sankofa</li>
                <li>2015. Thug Myth</li>
                <li>Ideas</li>
            </ul>
            
        </nav>
    </div>
  </div>